[flake8]
# H307: like imports should be grouped together
# H405: multi line docstring summary not separated with an empty line
# H803: git title must end with a period
# H904: Wrap long lines in parentheses instead of a backslash
# H802: git commit title should be under 50 chars
# H701: empty localization string
extend-ignore = H307,H405,H803,H904,H802,H701
# exclude settings files and virtualenvs
exclude = *settings.py,*.venv/*.py
max-line-length = 120