# The format of this file isn't really documented; just use --generate-rcfile
[MASTER]

[Messages Control]
# C0111: Don't require docstrings on every method
# W0511: TODOs in code comments are fine.
# W0142: *args and **kwargs are fine.
# W0223: abstract methods don't need to be overwritten (i.e. when overwriting a Django REST serializer)
# W0622: Redefining id is fine.
# R0901: Too many ancestors (i.e. when subclassing test classes)
# R0801: Similar lines in files
# I0011: Informational: locally disabled pylint
# I0013: Informational: Ignoring entire file
disable=C0111,W0511,W0142,W0622,W0223,W0212,R0901,R0801,I0011,I0013,anomalous-backslash-in-string

[Format]
max-line-length=120

[Basic]
# Variable names can be 1 to 31 characters long, with lowercase and underscores
variable-rgx=[a-z_][a-z0-9_]{0,30}$

# Argument names can be 2 to 31 characters long, with lowercase and underscores
argument-rgx=[a-z_][a-z0-9_]{1,30}$

# Method names should be at least 3 characters long
# and be lowecased with underscores
method-rgx=([a-z_][a-z0-9_]{2,50}|setUp|tearDown)$

# Allow 'id' as variable name everywhere
good-names=id,c,_

bad-names=__author__

# Ignore all variables that start with an underscore (e.g. unused _request variable in a view)
dummy-variables-rgx=_

[Design]
max-public-methods=100
min-public-methods=0
# Maximum number of attributes of a class
max-attributes=15
max-args=10
max-locals=20

[Typecheck]
# Allow the use of the Django 'objects' members
generated-members=sh.git
