.document hr {
    border-top: 1px solid #666;
}

/* Termynal */

[data-termynal]:after {
    content: ''; /* Don't display a window title */
}

[data-termynal] {
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 1rem;
}

[data-termynal] > [data-ty="comment"] {
    color: #DAD6AF;
}
