name: Tests and Checks

# Only run CI on pushes to main and pull requests
# We don't run CI on other branches, but those should be merged into main via a PR anyways which will trigger CI before the merge.
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  checks:
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11", pypy-3.9]
        os: ["macos-latest", "ubuntu-latest"]
    steps:
      - uses: actions/checkout@v3.2.0
        with:
          ref: ${{ github.event.pull_request.head.sha }} # Checkout pull request HEAD commit instead of merge commit

      - name: Setup python
        uses: actions/setup-python@v4.3.1
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        run: python -m pip install hatch==1.6.3

      - name: Unit Tests
        run: hatch run test:unit-tests

      - name: Code formatting (black)
        run: hatch run test:format
      
      - name: Code linting (pylint)
        run: hatch run test:lint

      - name: Integration tests
        run: |
          hatch run qa:install-local
          hatch run qa:integration-tests

      - name: Integration tests (GITLINT_USE_SH_LIB=1)
        run: |
          hatch run qa:integration-tests
        env:
          GITLINT_USE_SH_LIB: 1

      - name: Build test (gitlint)
        run: |
          hatch build
          hatch clean

      - name: Build test (gitlint-core)
        run: |
          hatch build
          hatch clean
        working-directory: ./gitlint-core
      
      - name: Docs build (mkdocs)
        run: hatch run docs:build

      - name: gitlint --version
        run: hatch run dev:gitlint --version

      - name: Hatch run gitlint
        run: hatch run dev:gitlint --debug
        continue-on-error: true

      # Coveralls integration doesn't properly work at this point, also see below
      # - name: Coveralls
      #   env:
      #     COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}
      #   run: coveralls

      # Patch the commit-msg hook to make it work in GH CI
      # Specifically, within the commit-msg hook, wrap the invocation of gitlint with `script`

      # Coveralls GH Action currently doesn't support current non-LCOV reporting format
      # For now,  still using Travis for unit test coverage reporting
      # https://github.com/coverallsapp/github-action/issues/30
      # - name: Coveralls
      #   uses: coverallsapp/github-action@master
      #   with:
      #     github-token: ${{ secrets.GITHUB_TOKEN }}

      # Run gitlint. Skip during PR runs, since PR commit messages are transient and usually full of gitlint violations.
      # PRs get squashed and get a proper commit message during merge.
      - name: Gitlint check
        run: hatch run dev:gitlint --debug
        if: ${{ github.event_name	!= 'pull_request' }}

  windows-checks:
    runs-on: windows-latest
    strategy:
      matrix:
        python-version: ["3.10"]
    steps:
      - uses: actions/checkout@v3.2.0
        with:
          ref: ${{ github.event.pull_request.head.sha }} # Checkout pull request HEAD commit instead of merge commit

      - name: Setup python
        uses: actions/setup-python@v4.3.1
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Upgrade pip on Python 3"
        if: matrix.python-version == '3.10'
        run: python -m pip install --upgrade pip

      - name: Install Hatch
        run: python -m pip install hatch==1.6.3

      - name: Unit Tests
        run: hatch run test:unit-tests

      - name: Code formatting (black)
        run: hatch run test:format
      
      - name: Code linting (pylint)
        run: hatch run test:lint

      - name: Build test (gitlint)
        run: |
          hatch build
          hatch clean
        
      - name: Build test (gitlint-core)
        run: |
          hatch build
          hatch clean
        working-directory: ./gitlint-core
      
      - name: Docs build (mkdocs)
        run: hatch run docs:build

      - name: Hatch run gitlint
        run: hatch run gitlint --debug
        continue-on-error: true

      - name: gitlint --version
        run: hatch run dev:gitlint --version

      # Run gitlint. Skip during PR runs, since PR commit messages are transient and usually full of gitlint violations.
      # PRs get squashed and get a proper commit message during merge.
      - name: Gitlint check
        run: hatch run dev:gitlint --debug
        if: ${{ github.event_name	!= 'pull_request' }}

  check:  # This job does nothing and is only used for the branch protection
    if: always()  # Ref: https://github.com/marketplace/actions/alls-green#why

    needs:
      - checks
      - windows-checks

    runs-on: ubuntu-latest

    steps:
      - name: Decide whether the needed jobs succeeded or failed
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
